<section class="hero">
  <div id="container">
    <div id="top">
      <div class="beer-foam">
        <div class="foam-1"></div>
        <div class="foam-2"></div>
        <div class="foam-3"></div>
        <div class="foam-4"></div>
        <div class="foam-5"></div>
        <div class="foam-6"></div>
        <div class="foam-7"></div>
        <div class="foam-8"></div>
        <div class="foam-9"></div>
        <div class="foam-10"></div>
        <div class="foam-11"></div>
        <div class="foam-12"></div>
        <div class="foam-13"></div>
        <div class="foam-14"></div>
        <div class="foam-15"></div>
        <div class="foam-16"></div>
        <div class="foam-17"></div>
        <div class="foam-18"></div>
        <div class="foam-19"></div>
        <div class="foam-20"></div>
        <div class="foam-21"></div>
        <div class="foam-22"></div>
        <div class="foam-23"></div>
        <div class="foam-24"></div>
        <div class="foam-25"></div>
        <div class="foam-26"></div>
        <div class="foam-27"></div>
        <div class="foam-28"></div>
        <div class="foam-29"></div>
        <div class="foam-30"></div>
        <div class="foam-31"></div>
        <div class="foam-32"></div>
        <div class="foam-33"></div>
        <div class="foam-34"></div>
        <div class="foam-35"></div>
        <div class="foam-36"></div>
        <div class="foam-37"></div>
        <div class="foam-38"></div>
        <div class="foam-39"></div>
        <div class="foam-40"></div>
        <div class="foam-41"></div>
        <div class="foam-42"></div>
        <div class="foam-43"></div>
        <div class="foam-44"></div>
        <div class="foam-45"></div>
        <div class="foam-46"></div>
        <div class="foam-47"></div>
        <div class="foam-48"></div>
        <div class="foam-49"></div>
        <div class="foam-50"></div>
        <div class="foam-51"></div>
        <div class="foam-52"></div>
        <div class="foam-53"></div>
        <div class="foam-54"></div>
        <div class="foam-55"></div>
        <div class="foam-56"></div>
        <div class="foam-57"></div>
        <div class="foam-58"></div>
        <div class="foam-59"></div>
      </div>
      <div id="liquid">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
      </div>
    </div>
    <h2>
      <p>{{ beer.name }}</p>
    </h2>
  </div>
</section>
<section class="content">
  <img [src]="beer.image_url" alt="" />
  <p class="abv">ABV: {{ beer.abv }}</p>
  <p class="description">{{ beer.description }}</p>
</section>
